button {
  background-color: #2ac56c;
  color: white;
  border: 3px solid #17aa56;
  border-radius: 3px;
  font-size: 20px;
  padding: 10px 25px;
  transition: 2s;
  /* transition-delay: 0.5s; */
  /* transition-property: border, padding, font-size; */
  transition-timing-function: cubic-bezier(0,1.56,.69,-0.15);
  /* linear, ease, ease-in, ease-out, ease-in-out */
}

button:hover {
  border-radius: 7px;
  border-width: 7px;
  padding: 20px 50px;
  background-color: deeppink;
  font-size: 40px;
}

header {
  height: 80px;
}

h1 {
  animation: 1s crazyflip;
}

img {
  position: absolute;
  width: 40%;
  /* perform the "crazyflip" animation in 4 seconds */
  animation: 4s crazyflip;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* keyframes define the animation's movement */
@keyframes crazyflip {
  0% {
    position: absolute;
    right: -40%;
  }

  50% {
    right: 40%;
    transform: rotateX(0);
  }
  100% {
    position: absolute;
    right: 40%;
    transform: rotateX(360deg);
  }
}
